[submodule ".config/zplug"]
	path = .config/zplug
	url = https://github.com/zplug/zplug
[submodule ".config/zsh/plugins/zplug"]
	path = .config/zsh/plugins/zplug
	url = https://github.com/zplug/zplug
