/*
/.*
!/.dircolors
!/.gemrc
!/.gitconfig
!/.gitignore
!/.irbrc
!/.nethackrc
!/.railsrc
!/.screenrc
!/.sqliterc
!/.tmux.conf
!/.tmux.d
!/.vimrc
!/.zlogin
!/.zlogout
!/.zsh.d
/.zsh.d/compcache
/.zsh.d/compdump
/.zsh.d/history
!/.zshenv
!/.zshrc
