/Brewfile.*
/.config/claude/*
!/.config/claude/CLAUDE.md
!/.config/claude/agents
!/.config/claude/commands
!/.config/claude/settings.json
!/.config/claude/skills
!/.config/claude/statusline-command.zsh
