[user]
	name = OZAWA Sakuro
	email = sakuro@2238club.org
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	sw = checkout
	st = status -s
	cdiff = diff --word-diff=color --word-diff-regex=.
	egrep = grep -E
[log]
	date = local
[merge]
	ff = false
[push]
	default = tracking
[pull]
	rebase = true
[branch]
	autosetuprebase = always
