/*
/.*
!/.dircolors
!/.gemrc
!/.gitconfig
!/.gitignore
!/.irbrc
!/.nethackrc
!/.railsrc
!/.screenrc
!/.sqliterc
!/.tmux.conf
!/.tmux.d
!/.vimrc
!/.zsh.d
/.zsh.d/compcache
/.zsh.d/compdump
/.zsh.d/history
/.zsh.d/.chpwd-recent-dirs
!/.zshenv
