[include]
  path = .gitconfig.local
[user]
  name = OZAWA Sakuro
  signingkey = 243B9E7E
  useConfigOnly = true
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  st = status -sb
  diff = diff -M
  prs = browse -- pulls
  issues = browse -- issues
  wiki = browse -- wiki
  bd = !git branch --merged | fgrep -v '*' | egrep -v '\\<master\\>' | xargs -I % git branch -d %
  pb = !git push --verbose -u origin $(git symbolic-ref --short HEAD)
  amend = commit --no-edit --amend
  wip = commit -m wip
  branch-root = merge-base master HEAD
  changes = !git diff $(git branch-root)..HEAD
  br = branch-root
[log]
  date = local
  abbrevCommit = true
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[diff]
  algorithm = histogram
  compactionHeuristic = true
[pager]
  diff = diff-highlight | fontawe | $PAGER
  show = diff-highlight | fontawe | $PAGER
  log = diff-highlight | fontawe | $PAGER
[interactive]
  diffFilter = diff-highlight
[merge]
  ff = false
[credential]
  helper = osxkeychain
[push]
  default = simple
[commit]
  verbose = true
[core]
  commentchar = ";"
  editor = code -w
[grep]
  lineNumber = true
  patternType = perl
[fetch]
  prune = true
